.App {
  text-align: left;
  background-color: snow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
}

body {
}

p {
  max-width: 280px;
  margin: 15px;
  margin-top: 15px;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  border: 7px solid goldenrod;
  border-radius: 5px;
}

.close-button {
  margin-left: 200px;
}

.navbar {
  display: flex;
  width: 100%;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
}
.container {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.searchResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
